<h2>🏠 KING PALACE - 15</h2>
<h3>📅 {{date}}</h3>

{% if report_type == "full" %}

{% for floor, val in data.items() %}
<h3>{{floor}} ({{val.attendant}})</h3>

{% for y, d in val.years.items() %}
<p>{{y}} → S:{{d.S}} P:{{d.P}} L:{{d.L}} A:{{d.A}}</p>
{% endfor %}

<p><b>Floor Total → S:{{val.total.S}} P:{{val.total.P}} L:{{val.total.L}} A:{{val.total.A}}</b></p>
<hr>
{% endfor %}

<h3>Grand Total</h3>
<p>S:{{grand.S}} P:{{grand.P}} L:{{grand.L}} A:{{grand.A}}</p>

{% endif %}


{% if report_type == "partly" %}
{% for y,val in year_summary.items() %}
<p>{{y}} → S:{{val.S}} P:{{val.P}} L:{{val.L}}</p>
{% endfor %}
{% endif %}


{% if report_type == "summary" %}
<p>Total Strength: {{grand.S}}</p>
<p>Total Present: {{grand.P}}</p>
<p>Total Leave: {{grand.L}}</p>
{% endif %}